* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* My banner */
.my__bannar {
  background-image: url("images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
}
